//Colors
$red-color:#B52C2C;
$cPrimary: #0F76BC;
$cSecondary: #07AEEF;
$cSecondaryFade: #F5FAFC;
$text-color: #222222;
$padding:  2% 10%;

// Spacing
$default-gap:12px;

//sizing

$border-radius: 50px;